body{
    background-color: rgb(40, 39, 39);
}
h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
h2{
    color:white;
    text-align: center;
    font-style : italic;
}
h3{
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
h4{
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
h5{
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
h6{
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}

p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.common{
    background-color: grey;
    border: 2px solid white;
    position: absolute;

}

.header{ 
    top:5px;
    left: 15px;
    right: 25px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.left{
    top: 115px;
    left: 15px;
    width:100px;
    bottom:600px;
}

.main{
    top: 115px;
    left:130px;
    right: 140px;
    height: fit-content
}

.right{
    top:115px;
    right:25px;
    width:100px;
    bottom:600px;
}

.footer{

    bottom:5px;
    height:25px;
    left:15px;
    right:25px;
    position:fixed;
    z-index:1;
}

.blacktext{
    color:black;
}

.bluetext{
    color:blue;

}
.img-right{
    float: right;
    margin: 0 0 10px 10px;
    display: block;
}
